#!/usr/bin/env bash

# Easier navigation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Shortcuts
alias dev="cd ~/Dev"

# List contents of tarball
alias lstgz="tar -tvf"

# Always enable colored `grep` output
alias grep='grep --color=auto'

# [J]ust (run global justfile)
alias j='just --justfile ~/justfile --working-directory .'

# Generate aliases for all recipes in the global justfile
if [ -f ~/justfile ]; then
  # 1. Get the list of recipe names (ignoring internal ones starting with _)
  # 2. Exclude 'default'
  # 3. Create an alias for each: alias <recipe>='j <recipe>'
  for recipe in $(just --justfile ~/justfile --summary); do
    if [[ "$recipe" != "default" ]]; then
      alias "$recipe"="j $recipe"
    fi
  done
fi

################################################################################
# Enable Vi Mode for the shell
################################################################################

bindkey -v

# Change cursor shape for different vi modes
function zle-keymap-select {
  if [[ ${KEYMAP} == vicmd ]]; then
    echo -ne '\e[2 q' # Block cursor for Normal Mode
  else
    echo -ne '\e[5 q' # Beam cursor for Insert Mode
  fi
}
zle -N zle-keymap-select
# Ensure beam cursor on startup
echo -ne '\e[5 q'
