<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>2FBC59E9-5622-4446-8540-839CD18C58C2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ciu</string>
			<key>text</key>
			<string>Can I Use</string>
			<key>url</key>
			<string>https://caniuse.com/?search={query}</string>
		</dict>
		<key>4B1B22C4-1DAF-48C0-89F5-C4FDE707D26B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>stars</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>GitHub Stars</string>
			<key>url</key>
			<string>https://github.com/JamieMason?tab=stars&amp;q={query}</string>
		</dict>
		<key>59C07BBB-B3BD-4396-B3B2-DAE7470CA3D5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>docs</string>
			<key>text</key>
			<string>Docs</string>
			<key>url</key>
			<string>https://devdocs.io/#q={query}</string>
		</dict>
		<key>6A71B22F-8019-4DFC-9541-2321ED710C88</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>so</string>
			<key>text</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
		<key>87CC9B31-F4A3-4AA8-B54C-447ED2B1C49F</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>mdn</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>MDN</string>
			<key>url</key>
			<string>https://search.brave.com/search?q=developer.mozilla.org+{query}&amp;source=web</string>
		</dict>
		<key>91CD1126-E7A2-4CFF-812C-6FEA2C82B27B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>vscode</string>
			<key>text</key>
			<string>VS Code Docs</string>
			<key>url</key>
			<string>https://code.visualstudio.com/Search?q={query}</string>
		</dict>
		<key>9957495A-3C55-4C3D-B52D-DB1FC18619A9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>git</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>GitHub</string>
			<key>url</key>
			<string>https://github.com/search?q={query}&amp;type=repositories</string>
		</dict>
		<key>9B292DF1-96B6-46E7-8A79-1B41D50F79C6</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>thes</string>
			<key>text</key>
			<string>Thesaurus</string>
			<key>url</key>
			<string>https://www.thesaurus.com/browse/{query}</string>
		</dict>
		<key>ABA03F9B-560C-4FCF-843F-97674E1F15AA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>maps</string>
			<key>text</key>
			<string>Maps</string>
			<key>url</key>
			<string>https://www.google.co.uk/maps?q={query}</string>
		</dict>
		<key>B5737EA2-7394-4899-B502-A3486E3A7E61</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>web</string>
			<key>text</key>
			<string>Web</string>
			<key>url</key>
			<string>https://search.brave.com/search?q={query}</string>
		</dict>
		<key>D304743B-A4B5-43AC-A68D-A870E6FD184B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tw</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Tailwind Docs</string>
			<key>url</key>
			<string>https://search.brave.com/search?q=site%3Ahttps%3A%2F%2Ftailwindcss.com%2Fdocs+{query}</string>
		</dict>
		<key>D47468E5-230E-43BA-8243-8BF8BAD790E4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>npm</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>npm</string>
			<key>url</key>
			<string>https://npms.io/search?q={query}</string>
		</dict>
		<key>E3D6EA29-411B-4C00-890A-4B90A74EA094</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>am</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Amazon</string>
			<key>url</key>
			<string>https://smile.amazon.co.uk/s?k={query}</string>
		</dict>
		<key>F1088E1E-2E6C-4801-B953-C3557662FB7C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>cs</string>
			<key>spaces</key>
			<string>+</string>
			<key>text</key>
			<string>Code Search</string>
			<key>url</key>
			<string>https://github.com/search?type=code&amp;l=TypeScript&amp;q={query}+language%3ATypeScript</string>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
